{% extends 'base.html' %}

{%block title%}Lista de Locações{%endblock%}

{%block content%}
    <div class="offset-1 col-10 list-div">
        <h1>Lista de Locações</h1>
        <a id="add-link" href="newLocacao/">
            <div class="col-2 add-div">
                <i class="fas fa-plus"></i>Adicionar tarefa
            </div>
        </a>
        <div class="col-9 search-div">
            <input class="form-control" type="text" id="search" name="search" placeholder="Digite o nome da locação!">
            <i class="fas fa-search"></i>
        </div>
        <ul class="task-list">
            {% for locacao in locacoes%}
            <li class="task-item">
                <span><a href="/locacao/{{locacao.id}}">{{locacao.nome_locacao}}</a></span>
                <span><i class="fas fa-trash"></i></span>
                <span><i class="fas fa-edit"></i></span>
            </li>
            {% endfor %}
        </ul>
    </div>
{%endblock%}